body {
  margin: 0;
  display: grid;
  justify-content: left;
  align-items: left;
}


html{
  font-size: 62.5%;
  background-size:100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
